# Node & Dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo & Metro
.expo/
.expo-shared/
dist/
web-build/
.metro-health-check*
expo-env.d.ts

# Build / Native Folders
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment & Local Configs
# (keep firebaseConfig.ts!)
.env
.env.*
.env*.local
env.ts

# macOS / OS junk
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Example / Test / Temp Folders
app-example/
tmp/
temp/
__tests__/
coverage/
